.centered {
	text-align: center;
}

.bordered {
	border: 1px solid red;
}

.rgroup {
	margin-top: 20px;
}

.padded {
	margin: 10px;
}

.pullright {
	float: right;
}

.vspan {
	margin-left: 2px;
	margin-right: 2px;
}

.breaker {
	display: inline-block;
}

#logo {
	width: 400px;
}

#logo.small {
	width: 200px;
}

@media only screen and (max-device-width: 480px) {
	#logo { width: 200px; }
	#logo.small { width: 100px; }
}
