.centered {
	text-align: center;
}

.bordered {
	border: 1px solid red;
}

.rgroup {
	margin-top: 20px;
}

.pullright {
	float: right;
}

.vspan {
	margin-left: 2px;
	margin-right: 2px;
}

.breaker {
	display: inline-block;
}

@media only screen and (max-device-width: 480px) {
	#logo { width: 200px; }
}
