.centered {
	text-align: center;
}

.bordered {
	border: 1px solid red;
}

.rgroup {
	margin-top: 20px;
}

.padded {
	margin: 10px;
}

.pullright {
	float: right;
}

.vspan {
	margin-left: 2px;
	margin-right: 2px;
}

#iheader {
	background-color: #eee;
	display: block;
	padding: 0;
	border-bottom: 1px solid #ccc;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}

.breaker {
	display: inline-block;
}

#logo {
	width: 400px;
}

#logo.small {
	width: 200px;
}

#logo.nav {
	width: 100px;
}

#appdiv {
	padding: 0px;
}

#details * h2 {
	margin-bottom: 20px;
}

#details * h4 {
	padding-top: 10px;
}

/*
#version {
	position: fixed;
	bottom: 0px;
	right: 10px;
}
*/

#version {
	font-size: 50%;
}

@media only screen and (max-device-width: 480px) {
	#logo { width: 200px; }
	#logo.small { width: 100px; }
	#logo.nav { width: 50px; }
}
