.hover:hover {
    background-color: "#888";
}

.bp3-button-group .bp3-popover-target,
.bp3-button-group,
.bp3-popover-target {
    display: "inline-block";
}

.popover-inline {
    display: "inline-block";
}
